ORACLE_APP_USER=pet_guardian
ORACLE_APP_PASSWORD=troque-esta-senha
ORACLE_SYS_PASSWORD=troque-esta-senha-sys
MONGO_USER=petguardian
MONGO_PASSWORD=troque-esta-senha-mongo
JWT_SECRET_KEY=gere-uma-chave-aleatoria-com-mais-de-32-caracteres